USE [master]
GO
/****** Object:  Database [BL20]    Script Date: 05.06.2025 9:38:31 ******/
CREATE DATABASE [BL20]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'BL20', FILENAME = N'/var/opt/mssql/data/BL20.mdf' , SIZE = 73728KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'BL20_log', FILENAME = N'/var/opt/mssql/data/BL20_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [BL20].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [BL20]
GO
/****** Object:  Table [dbo].[Clients_import$]    Script Date: 05.06.2025 9:38:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Clients_import$](
	[Id] [int] NOT NULL,
	[TipKlienta] [nvarchar](255) NULL,
	[FIOClienta] [nvarchar](255) NULL,
	[KontactnieDannie] [nvarchar](255) NULL,
 CONSTRAINT [PK_Clients_import$] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Products_import$]    Script Date: 05.06.2025 9:38:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Products_import$](
	[Id] [int] NOT NULL,
	[Artikul] [nvarchar](255) NULL,
	[TipProdukcii] [nvarchar](255) NULL,
	[NaimenovanieProdukcii] [nvarchar](255) NULL,
	[Sebestoimoct] [float] NULL,
 CONSTRAINT [PK_Products_import$] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Sales_import$]    Script Date: 05.06.2025 9:38:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Sales_import$](
	[Id] [int] NOT NULL,
	[Наименование продукции] [nvarchar](255) NULL,
	[ФИО клиента] [nvarchar](255) NULL,
	[Количество] [float] NULL,
	[Дата продажи] [datetime] NULL
) ON [PRIMARY]
GO
USE [master]
GO
